*{
    margin: 0;
}
h1{
    font-size: 65px;
    font-weight: 700;
}
h2{
    font-size: 45px;
    font-weight: 600;
}
h4{
    font-size: 35px;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18;
    line-height: 28px;
    font-weight: 400;
    padding: 10px 0px;
}
button{
    font-size: 22px;
    padding: 15px 25px;
    border: 0;
    border: 1px solid rgba(128, 128, 128, 0.63);
    color: rgba(128, 128, 128, 0.63);
    background: transparent;
    border-radius: 7px;
    cursor: pointer;
}
.red-btn{
    background-color: #FF5959;
    color: #fff;
    border: transparent;
}
hr{
    border-top: 1pt solid #0000001e;
}

/*hero section*/
.hero{
    display: flex;
    justify-content: space-between;
    height: 700px;
    background-image: url(images/Ellipse\ 257.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding: 0px 150px;
    background-color: #FAFAFA;
    gap: 20%;
}
.hero-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
.dual-btn{
    margin-top: 20px;
}
.hero-model{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    width: 40%;
}

/*Donate toda section*/
.donate-now{
    margin: 100px 0px;
    padding: 0px 150px;
    text-align: center;
}
.taka-box{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.taka-box > div{
    padding: 30px 30px;
    color:rgba(128, 128, 128, 0.63);
    background-color:rgba(128, 128, 128, 0.13);
    border: 1px solid transparent;
    font-size: 30px;
}
.taka-box > div:hover{
    color: #FF5959;
    border: 1px solid #FF5959;
    background-color: #ff595913;
    cursor: pointer;
}
.donate-now form input{
    border:0;
    font-size: 18px;
    padding: 20px;
    margin-top: 30px;
    text-align: center;
    outline: 0;
}
.donate-now-btn{
    margin-top: 20px;
}


/*Donate plan section style*/
.donate-plan{
    text-align: center;
    padding: 50px 250px;
}
.donate-plan-box-warp{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-top: 30px;
}
.donate-plan-box{
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}
.donate-plan-box h4{
    margin-top: 10px;
}
.box-one{
    background-color:#EDF5F6;
}
.box-two{
    background-color:#FFEEEE;
}
.box-three{
    background-color:#FFF4D6;
}

/*contribute section edit*/
.info-contribute{
    padding: 100px 250px;
}
.contribute{
    display: flex;
    align-items: center;
}
.contribute > div{
    width: 50%;
}
.contribute-info{
    padding-right: 5%;
}
.contribute h1{
    font-size: 45px;
}
.contribute-btn{
    margin-top: 20px;
}

/*updates section*/
.updates{
    padding: 100px 250px;
    text-align: center;
}
.subscribe-form-warp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px;
    background: #FFF4D6;
    border-radius: 10px;
    margin-top: 50px;
}
.subscribe-form-warp form input{
    padding: 15px;
    background: #D9D9D9;
    border: transparent;
    border-radius: 5px 0px 0px 5px;
    font-size: 25px;
}
.subscribe-form-warp form input[type=button]{
    background-color: #FF5959;
    color: #fff;
    border-radius:0;
    padding: 15px 20px;
    cursor: pointer;
}

/*Footer Edit*/
footer{
    height: 400px;
    background-color: #000;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/*Madium Device Responsive*/
@media screen and (min-width: 820px) and (max-width: 1180px){


    /*hero section style*/
    .hero{
        padding: 0px;
        margin: 0px;
        gap: 0px;
        height: fit-content;
    }
    .hero-info{
        margin: 100px 0px;
        padding-left: 20px;
        width: 70%;
    }
    .hero-info h1{
        font-size: 50px;
    }
    .hero-model{
        width: 30%;
    }
    .hero-model img{
        width: 100%;
    }


    /*Donate plan section style*/

    .donate-plan{
        margin: 0;
        padding: 30px;
    }
    .contribute{
        margin-bottom: 50px;
        gap: 20px;
    }
    .info-contribute{
        margin: 0px;
        padding: 30px;
    }

    .contribute-info div img{
        width: 100%;
    }

    /*upates section style*/
    .updates{
        margin: 0;
        padding: 50px;
    }
}


/*Mobile Device Responsive*/
@media screen and (max-width: 819px){
    h1{
        font-size: 50px;
        font-weight: 700;
    }
    h2{
        font-size: 35px;
        font-weight: 600;
    }
    .hero{
        margin: 0;
        padding: 0;
        flex-direction: column;
        height: fit-content;
        overflow: hidden;
    }
    .hero-info{
        width: 100%;
        padding: 50px 20px;
    }
    .hero-info h1{
        font-size: 50px;
        padding: 0;
        margin: 0;
    }
    .hero-info p{
        padding-right: 10px;
    }
    .hero-model{
        width: 100%;
        align-items: center;
    }

    .donate-now{
        margin: 0px;
        padding: 20px;
    }

    .donate-now .taka-box{
        grid-template-columns: repeat(2, 1fr);
    }

    /*Donate Plan section style*/
    .donate-plan{
        margin: 0;
        padding: 20px;
    }
    .donate-plan-box-warp{
        grid-template-columns: repeat(1, 1fr);
    }
    .info-contribute{
        padding: 20px;
    }
    .contribute{
        padding: 30px;
        flex-direction: column;
        gap: 20px;
    }
    .contribute > div{
        width: 100%;
        margin-bottom: 50px;
    }
    .contribute-box-two{
        flex-direction: column-reverse;
    }
    /*Updates sectiontion style*/
    .updates{
        margin: 0;
        padding: 20px;
    }
    .subscribe-form-warp{
        padding: 50px;
    }
    .subscribe-form-warp form input[type=button]{
        margin-top: 20px;
        border-radius: 7px;
    }
}